body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(235, 18%, 26%);
  color: hsl(234, 29%, 20%);
  font-family: "Roboto-Regular";
  font-size: 12px;
  /* text-align: center; */
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

#main-card {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  /* margin-left: 28%; */
  /* margin-top: 8%; */
  width: 650px;
  height: 450px;
  border-radius: 30px;
}

#inner-text-card {
  width: 300px;
  margin-top: 20px;
  /* padding-top: 4px; */
  padding: 20px;
}

h1 {
  font-family: "Roboto-Bold";
  font-size: 40px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.intro-text {
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  padding-left: 0;
}

li {
  list-style-type: none; /* Hide default bullet */
  padding-left: 25px; /* Adjust as needed */
  background-image: url("assets/images/icon-success.svg");
  background-size: 15px 15px; /* Your desired size */
  background-repeat: no-repeat;
  margin-bottom: 5px;
  line-height: 15px;
  margin-bottom: 10px;
}

#email-label {
  font-family: "Roboto-Bold";
  font-size: 9px;
}

#error-message {
  font-family: "Roboto-Regular";
  font-size: 9px;
  color: red;
  position: relative;
  top: 22px;
  left: 210px;
}

#email-input {
  margin-top: 5px;
  width: 275px;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  border-color: lightgray;
  padding-left: 15px;
}

button {
  background-color: hsl(234, 29%, 20%);
  color: white;
  width: 295px;
  height: 46px;
  border: 0px;
  border-radius: 5px;
  margin-top: 18px;
  font-family: "Roboto-Bold";
  font-size: 12px;
}

button:hover {
  background-image: linear-gradient(to right, purple, tomato);
}

.image-container {
  position: absolute;
  top: 0;
  left: 370px;
}

.mac-image {
  height: 500px;
  width: 300px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 400px) {
  body {
    background-color: white;
  }

  #main-card {
    width: 100%;
    height: 100%;
  }

  #inner-text-card {
    position: absolute;
    bottom: 0px;
  }

  h1 {
    font-size: 30px;
  }

  .image-container {
    width: 340px;
    height: 284px;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .mac-image {
    content: url("assets/images/illustration-sign-up-mobile.svg");
    width: 100%;
    height: 274px;
  }
}
